<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <i class="fa fa-clock-o"></i>　本日累積流量 -
                    <span> </span>
                    <span ng-click="home.chooseZone('1')" class="kai-hand" ng-class="{'kai-blue':home.zoneChooseFlag=='1'}">哈瑪星地區</span>│
                    <span ng-click="home.chooseZone('2')" class="kai-hand" ng-class="{'kai-blue':home.zoneChooseFlag=='2'}">西子灣地區</span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content font-14px" ng-show="home.zoneChooseFlag=='1'">
                <div class="animated flipInY col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-file-text"></i> 累積進入車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count">{{home.allDayComeleaveNum.One.ComeNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.One.HComeNum}} 輛 </i></span>
                    </div>
                </div>
                <div class="animated flipInY  col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-clock-o"></i> 累積離開車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count">{{home.allDayComeleaveNum.One.LeaveNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.One.HLeaveNum}} 輛</i></span>
                    </div>
                </div>
                <div class="animated flipInY  col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-warning"></i> 累積滯留車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count red">{{home.allDayComeleaveNum.One.StopNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.One.HStopNum}} 輛</i></span>
                    </div>
                </div>
            </div>
            <div class="x_content font-14px" ng-show="home.zoneChooseFlag=='2'">
                <div class="animated flipInY col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-file-text"></i> 累積進入車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count">{{home.allDayComeleaveNum.Two.ComeNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.Two.HComeNum}} 輛 </i></span>
                    </div>
                </div>
                <div class="animated flipInY  col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-clock-o"></i> 累積離開車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count">{{home.allDayComeleaveNum.Two.LeaveNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.Two.HLeaveNum}} 輛</i></span>
                    </div>
                </div>
                <div class="animated flipInY  col-sm-4 col-xs-4 tile_stats_count" style="height:85px;">
                    <div class="left"></div>
                    <div class="right">
                        <span class="count_top"><i class="fa fa-warning"></i> 累積滯留車輛數</span>
                        <div style="height:85px;font-size:15px;" class="allDayComeleaveNumLoader">
                            <div class="loadersr" style="top:30px;"></div>
                        </div>
                        <div class="count red">{{home.allDayComeleaveNum.Two.StopNum}}</div>
                        <span class="count_bottom"><i class="green">一小時內 {{home.allDayComeleaveNum.Two.HStopNum}} 輛</i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="x_panel" style="height:167px;">
            <div class="x_title">
                <h2>
                    <i class="fa fa-clock-o"></i>　各eTag - 本日累積流量
                    <span>　</span>
                    <span>{{home.roadName}}</span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content font-14px">
                <div style="height:85px;font-size:20px;" class="eTagCountLoader">
                    <div class="loadersr" style="top:20px;"></div>
                </div>
                <div class="col-xs-3 kai-hand"
                     ng-mouseleave="home.eTagMouseleave(eTagCountNum)" ng-mouseover="home.eTagMouseover(eTagCountNum)"
                     ng-class="{'kai-blue':home.roadName==eTagCountNum.RoadName}"
                     style="padding-bottom:10px;"
                     ng-repeat="eTagCountNum in home.eTagCountNum">
                    {{eTagCountNum.DeviceID}}：{{eTagCountNum.Nums}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    <i class="fa fa-clock-o"></i>　本日進出入統計圖表
                    <span>　　</span>
                    <span ng-click="home.chooseChart('1')" class="kai-hand" ng-class="{'kai-blue':home.chartChooseFlag=='1'}">累積流量</span>│
                    <span ng-click="home.chooseChart('2')" class="kai-hand" ng-class="{'kai-blue':home.chartChooseFlag=='2'}">分時流量</span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div style="height:500px;font-size:30px;" class="eTagCountChartLoader">
                <div class="loadersr" style="top:150px;"></div>
                <div class="loadword" style="top:230px;">讀取中...</div>
            </div>
            <div id="middleChart" class="eTagCountChartOk" style="width: 100%; height: 500px; margin: 0 auto;display:none;"></div>
            <div style="width:100%;height:500px;position:absolute;top:-9999px" id="homeMap">
                <ng-map zoom="{{home.mapZoom}}"
                        center="{{home.mapCenter}}"
                        map-type-control="true"
                        map-type-control-options="{style:'HORIZONTAL_BAR', position:'TOP_RIGHT'}"
                        style="height: 100%;">
                    <marker ng-repeat="mapMakers in home.eTagCountNum"
                            position="{{mapMakers.py}},{{mapMakers.px}}"
                            id="{{mapMakers.DeviceID}}">
                    </marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>
